torch==2.5.1
torchaudio==2.0.1
transformers==4.30.2
accelerate==0.22.0
numpy==1.25.1
scipy==1.11.1
tqdm==4.65.0
protobuf==4.23.4
requests==2.31.0
python-midi==0.2.5
mido==1.2.10
pretty_midi==0.2.10
soundfile==0.12.1
